h1 {
  font-family: 'Mansalva', cursive;
}

h2 {
  text-decoration: underline;
  text-underline-position: under;
}

h3, h4, body, p, button {
  font-family: 'Karla', sans-serif;
}

header {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

img {
  height: 50vmin;
  width: auto;
}

input {
  width: 50%;
  text-align: center;
  border: none;
  font-size: 1.5em;
}

.box-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 20em;
  width: auto;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 20px 20px;
  height: auto;
  justify-content: center;
  padding: 10px 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.row {
  align-self: auto;
  height: auto;
  justify-content: space-around;
  padding: 10px 10px;
}

.answer-button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: grey;
  color: white; 
  font-size: 1.5em;
  border-radius: 10%;
}

.answer-button:hover {
  background-color: black; /* Green */
  color: white;
}

.start-button {
  -webkit-transition-duration: 1s; /* Safari */
  transition-duration: 0.4s;
  background-color: grey; 
  color: white; 
  font-size: 2em;
  width: 100%;
}

.start-button:hover {
  background-color: black; /* Green */
  color: white;
}

.skip-button {
  -webkit-transition-duration: 1s; /* Safari */
  transition-duration: 0.4s;
  background-color: grey; 
  color: white; 
  font-size: 1em;
  width: 100%;
}

.skip-button:hover {
  background-color: black; /* Green */
  color: white;
}

.back-button {
  -webkit-transition-duration: 1s; /* Safari */
  transition-duration: 0.4s;
  background-color: grey; 
  color: white; 
  font-size: 1em;
  width: 7em;
}

.back-button:hover {
  background-color: black; /* Green */
  color: white;
}

@media only screen and (max-width: 600px) {
  .box-container {
    margin: 0 0;
  }
}